@{
   
}
<h1>@ViewBag.Message</h1>

<div class="row">
    @Html.ActionLink("相對價格表", "stockStatistics", "stockStatistics", new { }, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("自選清單", "selfFavorite", "stockFavorite", new { }, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("庫存損益", "", new { }, new { @class = "btn btn-primary " })
</div>